@font-face {
  font-family: "ChalkboardSE";
  src: url("./assets/ChalkboardSE.0980065.ttf");
}
@font-face {
  font-family: "MarkerFeltWide";
  src: url("./assets/MarkerFeltWide.09fceee.ttf");
}
* {
  padding: 0;
  margin: 0;
}
#dakuanger {
  display: none !important;
}
.ymainhy .apexcharts-legend-text {
  color: rgb(17, 11, 11) !important;
}
.apexcharts-legend-text {
  color: #fff !important;
}
html {
  scroll-behavior: smooth;
  color: black;
  font-family: "ChalkboardSE";
  background: #efefef;
}
.anxs {
  display: none !important;
}
.uYscM {
  z-index: 1000 !important;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.jus {
  justify-content: space-between;
}
.flexcol {
  flex-direction: column;
}
a {
  text-decoration: none;
  cursor: pointer;
}
input {
  outline: none;
}

ul {
  list-style: none;
}
button {
  border: none;
}
@media (max-width: 1250px) {
  #app {
    width: 100%;
    overflow: hidden;
  }
}
